<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div id="weather-container">
        <h2>Real-Time Data Processing System <b>Weather Monitoring with Rollups and Aggregates</b></h2>
        <input type="text" id="city" placeholder="Enter city">
        <select id="temp-unit">
            <option value="C">Celsius</option>
            <option value="F">Fahrenheit</option>
        </select>
        <button onclick="getWeather()">Search</button>

        <img id="weather-icon" alt="Weather Icon">

        <div id="temp-div"></div>
        <div id="weather-info"></div>
        <div id="hourly-forecast"></div>

        <!-- City weather cards -->
        <div class="row" id="weatherDisplay"></div>
    </div>
    <script src="static/main.js"></script>
</body>
</html>
